altgraph==0.17.5
cffi==2.0.0
charset-normalizer==3.4.7
cryptography==48.0.0
customtkinter==5.2.2
darkdetect==0.8.0
et_xmlfile==2.0.0
lxml==6.1.1
macholib==1.16.4
modulegraph==0.19.7
numpy==2.4.6
openpyxl==3.1.5
packaging==26.2
pandas==3.0.3
pdfminer.six==20251230
pdfplumber==0.11.9
pillow==12.2.0
py2app==0.28.10
pycparser==3.0
pyinstaller==6.20.0
pyinstaller-hooks-contrib==2026.5
pypdfium2==5.8.0
python-dateutil==2.9.0.post0
python-pptx==1.0.2
setuptools==82.0.1
six==1.17.0
typing_extensions==4.15.0
xlsxwriter==3.2.9
